<h1>
	<img src="banner.jpg" class="floatMiddle"><br>
bicycle + scissors = awesome	
</h1>
<div id="mssg1">
<table>
	<tr>	
Hi. I'm Pete. My friend Noah gave me a really really damned good haircut. And it inspired me to build this little website. The idea is, you fill out a form. Click Submit. Then Noah will ride his eco-friendly bicycle to where you like and give you a super awesome haircut.<br><br> It could be at your house. It could be in a park. It could be on a mountaintop!<br>
    </tr>
    <tr>
		<form id="form" method="post" action="/appointment">
		<input id="formfield" type="text" name="email_addr">Your Email<br>	
        <textarea id="textbox" cols='70' name='message' rows='10' value=''></textarea>Send Noah a Message!
		<input id="button" type="submit" name="button" value="I want a haircut too!"/><br>
		
		</form>	
	</tr>
</table>
</div>